RVAProject/RVAProject.ClientApp/Connected Services/BookService/BookService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RVAProject.Common.DTOs.BookDTO" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RVAProject.Common.DTOs.BookDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56951/BookService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:56951/BookService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="BookInfo">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BookInfo" nillable="true" type="tns:BookInfo" />
  <xs:complexType name="ArrayOfBookInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookInfo" nillable="true" type="tns:BookInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookInfo" nillable="true" type="tns:ArrayOfBookInfo" />
  <xs:complexType name="CreateBookRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AuthorIds" nillable="true" type="q1:ArrayOfguid" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublisherId" type="ser:guid" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateBookRequest" nillable="true" type="tns:CreateBookRequest" />
  <xs:complexType name="UpdateBookRequest">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AuthorIds" nillable="true" type="q2:ArrayOfguid" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="PublisherId" type="ser:guid" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateBookRequest" nillable="true" type="tns:UpdateBookRequest" />
</xs:schema>